.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.card {
	width: 45%;
	padding: 1rem;
	border: 1px solid black;
	border-radius: 0.5rem;
	margin: 1rem;
	display: flex;
	box-shadow: 3px 3px 3px #ccc;
}

.card:hover {
	padding: 1rem;
	border: 1px solid black;
	border-radius: 0.5rem;
	margin: 1rem;
	display: flex;
	box-shadow: 1px 8px 5px #ccc;
}

.info {
	margin-left: 1rem;
}

.navbar {
	padding: 1rem;
	background-color: black;
	color: white;
	display: flex;
	justify-content: space-between;
}

.logoImg {
	height: 2rem;
}

.spinner {
	width: 3rem;
	display: flex;
	margin: auto;
	padding-top: 15rem;
}
